{# ------------------------------------------------------- #}

{% block date_widget -%}
    {%- set type = type|default('date') -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><i class="far fa-calendar-alt"></i></span>
    </div>
{%- endblock date_widget %}

{% block time_widget -%}
    {%- set type = type|default('time') -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><i class="far fa-clock"></i></span>
    </div>
{%- endblock time_widget %}

{% block email_widget -%}
    {%- set type = type|default('email') -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><i class="far fa-envelope"></i></span>
    </div>
{%- endblock %}

{% block tel_widget -%}
    {%- set type = type|default('tel') -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><i class="fas fa-phone"></i></span>
    </div>
{%- endblock %}

{% block url_widget -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><i class="fas fa-globe"></i></span>
    </div>
{%- endblock %}

{% block password_widget -%}
    {%- set type = type|default('password') -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    </div>
{%- endblock %}
