<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title "Beelab" %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon.png') }}">
        {% block stylesheets %}
            <link href="{{ preload(asset('build/css/app.css'), {as: 'style'}) }}" rel="preload" as="style">
            <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <link href="{{ preload(asset('build/js/app.js'), {as: 'script'}) }}" rel="preload" as="script">
            <script src="{{ asset('build/js/app.js') }}" defer></script>
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <main role="main" class="flex-shrink-0">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container">
                    <a href="{{ path('homepage') }}" class="navbar-brand" title="home">
                        <i class="fas fa-home" aria-label="home"></i>
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        {# knp_menu_render('menu') #}
                    </div>
                </div>
            </nav>
            <div class="container">
                {# include('_flash.html.twig') #}
                {% block body '' %}
            </div>
        </main>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <p class="text-muted">© 2024 <a href="https://github.com/bee-lab/">BeeLab</a></p>
            </div>
        </footer>
    </body>
</html>
